*Template.java
out/
.idea/workspace.xml
.idea/compiler.xml
.directory
/ide/plugin/target
/deploy/deployproject.xml
target/
.idea/libraries
*.stash
*.zip
*.jar
*.csv
refactors/
*/test-gen/
cesar/gen
legio/gen
