out/
.idea/workspace.xml
.idea/compiler.xml
/dist
.directory
/ide/plugin/target
/deploy/deployproject.xml
target/
.idea/libraries
*.stash
*.zip
*.jar
*.csv
refactors/
*/test-gen/
ide/teseo/application/test-gen
ide/legio/legio-core/test-gen/
.tara/
builder/builder/test-res/stashes/
ide/pandora/application/gen
ide/pandora/application/test-gen
ide/legio/legio/.idea/
ide/pandora/application/.idea/
